$range-slide-width: 100%;
$range-slide-thickness: 8px;
$range-slide-margin: 3.5rem;
$range-slide-radius: 50px;
$range-slide-color: #459660;
$range-value-width: 2.5rem;
$range-value-font-size: inherit;
$range-value-font-weight: inherit;
$range-thumb-size: 1em;
$range-thumb-radius: 100%;
$range-thumb-color: #07ce49;

/* Reset */
input {
  all: unset;
  outline: 0;
}
input[type='range'] {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border: none;
  }
  &::-webkit-slider-runnable-track {
    border: none;
  }
  &::-moz-range-track {
    border: none;
  }
  &::-moz-range-thumb {
    box-shadow: none;
    border: none;
    background: none;
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    box-shadow: none;
    border: none;
  }
  &::-ms-fill-upper {
    box-shadow: none;
    border: none;
  }
  &::-ms-thumb {
    box-shadow: none;
    border: none;
  }
  &:focus {
    outline: none;
  }}

  .double-input-range {
    & label {
      font-weight: 600;
      display: block;
      margin-bottom: 1rem;
    }
    & .input-container {    
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .slider {
        position: absolute;
        right: 3.5em;
        left: 3.5em;
      }
      & .value {
        width: $range-value-width;
        font-size: $range-value-font-size;
        font-weight: $range-value-font-weight;
        text-align: center;
      }
      & input[type='range'] {
        position: absolute;
        height: 0;
        width: $range-slide-width;
        outline: none;
        pointer-events: none;
        cursor: pointer;
        // FIREFOX
        &::-moz-range-thumb {
          background-color: $range-thumb-color;
          pointer-events: all;
          cursor: pointer;
        }
        &::-moz-range-track {
          height: $range-slide-thickness;
          border-radius: $range-slide-radius;
          cursor: pointer;
        }
        // WEBKIT
        &::-webkit-slider-thumb {
          background-color: $range-thumb-color;
          border-radius: $range-thumb-radius;
          height: $range-thumb-size;
          width: $range-thumb-size;
          pointer-events: all;
          cursor: pointer;
          position: relative;
          z-index: 5;
          margin-left: calc($range-thumb-size / 2);
          margin-top: - calc($range-slide-thickness / 2);
        }
        &::-webkit-slider-runnable-track {
          height: $range-slide-thickness;
          background: $range-slide-color;
          border-radius: $range-slide-radius;
          cursor: pointer;
        }}
        & input[type='range']:nth-child(1) {
          /* FIREFOX Put slider color on bottom */ 
          &::-moz-range-track {
            background: $range-slide-color;
          }
          &::-webkit-slider-thumb {
          /* CHROME Prevent thumbs to merge  */ 
            margin-left: - calc($range-thumb-size / 3);
          }}}}