.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #00000075;
}

.modal {
  position: fixed;
  left: 0; right: 0; top: 0;
  z-index: 4;
  width: 100px;
  height: 100px;
  margin: 10rem auto;
  padding: 1rem;
  background-color: #f0f;
  color: #fff;
}

.modal-head {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .6rem;
}