$background-primary-color: #1b1b1b;
$background-secondary-color: #474747;
$text-color: #d4d4d4;
$primary-color: #bbbbbb;
$secondary-color: #fda503;
$boxshadow: rgba(0, 0, 0, 0.25);
$link-color: $primary-color;
$link-hover-color: $secondary-color;

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'allison';
  src: url('./fonts/allison-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'consola';
  src: url('./fonts/consola.ttf') format('truetype');
}

* { 
  box-sizing: border-box; 
}
body {
  background-color: $background-primary-color;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
}

@keyframes header-link-hover {
  from  { width: 0%; }
  to    { width: 100%; }}

@mixin page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@mixin nav-link {
  display: flex;
  gap: 2rem;
  & a {
    user-select: none;
    position: relative;
    transition: .3s;
    font-size: 1.4rem;
    font-weight: 700;
    color: $link-color;
    letter-spacing: .02rem;
    cursor: pointer;
    @media screen and (max-width: 385px) {
      font-size: 1.3rem;
    }
    &:hover {
      color: $link-hover-color;
      transition: .3s;
      &::before {
        content: '';
        animation: header-link-hover .15s ease-in;
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: $link-hover-color;
      }}}}