@use 'reset';
@use 'variables' as v;

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'allison';
  src: url('./fonts/allison-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'consola';
  src: url('./fonts/consola.ttf') format('truetype');
}

* { 
  box-sizing: border-box; 
}
body {
  background-color: v.$background-primary-color;
  color: v.$text-color;
  font-family: 'Roboto', sans-serif;
}

@keyframes header-link-hover {
  from  { width: 0%; }
  to    { width: 100%; }}
