@use 'variables' as v;

$link-color: v.$primary-color;
$link-hover-color: v.$secondary-color;

@mixin page {
  height: 95vh;
  width: 100vw;
  overflow: hidden;
}
@mixin nav-link {
  display: flex;
  gap: 2rem;
  & a {
    position: relative;
    transition: .3s;
    font-size: 1.4rem;
    font-weight: 700;
    color: $link-color;
    letter-spacing: .02rem;
    cursor: pointer;
    @media screen and (max-width: 385px) {
      font-size: 1.3rem;
    }
    &:hover {
      color: $link-hover-color;
      transition: .3s;
      &::before {
        content: '';
        animation: header-link-hover .15s ease-in;
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: $link-hover-color;
      }}}}













@mixin page-title {
  margin-top: calc(v.$layout-height + 3rem);
}
@mixin title-1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .05rem;
  @media screen and (max-width: 580px) {
    font-size: 1.7rem;
  }
  @media screen and (max-width: 390px) {
    font-size: 1.5rem;
  }}
@mixin title-2 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .03rem;
  @media screen and (max-width: 580px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 390px) {
    font-size: 1.1rem;
  }}
@mixin text {
  font-size: 1.1rem;
  @media screen and (max-width: 580px) {
    font-size: .9rem;
  }}

@mixin breakpoint($breakpoint) {
  @if map-has-key(v.$breakpoints, $breakpoint) {
    @media (min-width: map-get(v.$breakpoints, $breakpoint)) {
      @content;
    }}}
    
@mixin container {
  @media screen and (max-width: 580px) {
    padding: 0 1rem!important;
  }
  @each $name, $value in v.$breakpoints {
    padding: 0 2em;
    @include breakpoint($name) {
      margin-left: auto;
      margin-right: auto;
      max-width: $value;
    }}}