/* Padding & margin */
$layout-height: 5rem;
$p-container: 1em;
$p-small: 1em;

/* Color Scheme */
$background-primary-color: #1b1b1b;
$background-secondary-color: #474747;
$text-color: #d4d4d4;
$primary-color: #bbbbbb;
$secondary-color: #f055d6;
$boxshadow: rgba(0, 0, 0, 0.25);

/* Breakpoints */
$breakpoints: (
  'mobile': 100%,
  'mobile-xl': 580px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1440px,
) !default;