$shadow           : .2rem .4rem .1rem #000000;
$back-color       : #36363636;
$front-color      : #4e4e4e88;
$light-color      : #e100ff;
$media-max-desktop: rotate(-6deg); 
$media-max-1080   : scale(.9) rotate(-6deg);
$media-max-780    : scale(.8) rotate(-6deg);
$media-max-680    : scale(.7) rotate(-6deg);
$media-max-580    : scale(.5) rotate(-6deg);
$media-max-420    : scale(.4) rotate(-6deg);
$media-max-340    : scale(.3) rotate(-6deg);

.neon {
  position: relative;
  font-family: allison;
  transform: $media-max-desktop;
  -webkit-transform: $media-max-desktop;
  user-select: none;
  font-size: 260px;
  letter-spacing: -5px;
  &__back {
    position: absolute;
    filter: drop-shadow($shadow);
    color: $back-color;
  }
  &__outer {
    position: absolute;
    color: $front-color;
    opacity: 1;
    -webkit-text-stroke: 5px $back-color;
  }
  &__inner {
    opacity: .2;
    background: url('./../assets/neon-back.webp');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
  }
  @media screen and (max-width: 1080px) {
    transform: $media-max-1080;
    -webkit-transform: $media-max-1080;
  }
  @media screen and (max-width: 780px) {
    transform: $media-max-780;
    -webkit-transform: $media-max-780;
  }
  @media screen and (max-width: 680px) {
    transform: $media-max-680;
    -webkit-transform: $media-max-680;
  }
  @media screen and (max-width: 580px) {
    transform: $media-max-580;
    -webkit-transform: $media-max-580;
  }
  @media screen and (max-width: 420px) {
    transform: $media-max-420;
    -webkit-transform: $media-max-420;
  }
  @media screen and (max-width: 340px) {
    transform: $media-max-340;
    -webkit-transform: $media-max-340;
  }}
.lights-on {
  text-shadow: 0 0 9rem $light-color;
  color: $light-color;
}