@use '@/styles/globals' as style;

.home {
  @include style.page;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  & nav {
    @include style.nav-link;
  }}