/* Padding & margin */
$header-height: 5rem;
$p-container: 1em;
$p-small: 1em;

/* Color Scheme */
$background-primary-color: #1b1b1b;
$text-color: #d4d4d4;
$primary-color: #8d8d8d;
$secondary-color: #ffd808;
$tertiary-color: #ffd808;
$shadow: rgba(0, 0, 0, 0.25);

$neon-shadow: drop-shadow(3px 5px 2px #000000);
$neon-color: #ff00ff;
$neon-light: drop-shadow(0 0 40px $neon-color);

/* Breakpoints */
$breakpoints: (
  'mobile': 100%,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1440px,
) !default;