@use 'styles/variables' as v;

.neon {
  width: fit-content;
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  overflow: visible;
  & .path {
    fill:#363636;
    fill-opacity: 0.55;
    filter: v.$neon-shadow;
    -webkit-filter: v.$neon-shadow;
  }
  & .isOn .path {
    fill: v.$neon-color!important;
    fill-opacity: .8!important;
    filter: v.$neon-light v.$neon-shadow!important;
    -webkit-filter: v.$neon-light v.$neon-shadow!important;
  }
}