@use '@/styles/variables' as v;
@use '@/styles/mixins' as mix;

.header {
  position: sticky;
  border-bottom: v.$primary-color 1px solid;
  box-shadow: 0px 0px 10px v.$shadow;
  &__container {
    @include mix.container;
    display: flex;
    justify-content: space-between;
    height: v.$header-height;
    padding: 0 1em;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    & .link { display: none; }
    & .nav-menu img { 
      width: 2.5rem; 
      cursor: pointer;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    font-family: 'Allison', cursive;
    font-size: calc(v.$header-height * 0.7);
    color: v.$secondary-color;
    user-select: none;
    & img {
      height: calc(v.$header-height * 0.7);
    }
    & span {
      margin: 0 0 .15em .2em;
      transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
    }}}

@include mix.breakpoint('mobile-xl') {
  .header {
    & .link {
      display: block;
    }
    & .nav-menu {
      & img {
        display: none;
      }}}}