@use '@/styles/variables' as v;
@use '@/styles/mixins' as mix;

@keyframes header-link-hover {
  from { width: 0%; }
  to { width: 100%; }}

$faded-purple: #534e68;
$purple: #c3a6ff;
$green: #6ff0c5;
$soft-green: #6cb2c7;
$pink: #c17abd;
$json-indent-border: #424242;
$json-border-fade: #00000000 20px solid;
$json-border: v.$text-color 1px solid;

.about-title-wrapper {
  @include mix.container;
  @include mix.page-title;
}
.about { 
  margin: auto;
  margin-top: 1rem;
  font-size: 18px;
  gap: 2rem;
  display: flex;
  width: fit-content;
  &__profile {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: end;
  }
  &__pic {
    margin: 5rem .625rem -1.5rem;
    width: 10rem;
    border: v.$text-color 2px solid;
    border-radius: 100%;
  }
  &__me {
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: allison;
    font-size: 4rem;
    color: v.$secondary-color;
    span {
      display: inline-block;
      margin: 1rem .8rem 0 0;
      transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
    }}
  &__desc {
    padding: 1.5rem 0;
    border-top: $json-border;
    border-left: $json-border-fade;
    border-right: $json-border-fade;
    width: 25rem;
    color: v.$text-color;
    text-align: right;
    line-height: 1.45rem;
    letter-spacing: .02rem;
    & a { 
      position: relative;
      color: v.$secondary-color;
      &:hover::before {
        content: '';
        animation: header-link-hover .15s ease-in;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: v.$secondary-color;
      }}}
  &__json {
    font-family: consola;
    letter-spacing: .03rem;
    border-left: $json-border;
    border-top: $json-border-fade;
    border-bottom: $json-border-fade;
  }}

.about span.em       { color: v.$secondary-color;}
.about span.counter  { color: $faded-purple;}
.about span.key      { color: $purple;}
.about span.value    { color: $green;}
.about span.sym      { color: $pink;}
.about span.arr      { color: $soft-green;}
.about span.curl { 
  display: inline-block;
  color: v.$secondary-color;      
  height: 1.5rem;
}
.about span.ind {
  display: inline-block;
  height: 1.5rem;
  width: 1px;
  background-color: $json-indent-border;
}
.about span.ind--closing {
  padding-top: .13rem;
}

@media screen and (max-width: 1024px) {
  .about {
    &__profile {
      margin-top: -1rem;
    }
    &__pic {
      margin-right: -.8rem;
    }
    &__me {
      margin-right: -.8rem;
      font-size: 3.5rem;
    }
    &__desc { 
      width: 19rem;
      margin-right: -20px;
    }}
}
@media screen and (max-width: 812px) {
  .about {
    flex-direction: column;
    gap: 0;
    &__profile {
      align-items: center;
    }
    &__desc {
      text-align: center; 
      margin: 0;
      box-sizing: border-box;
      width: 80%;
    }
    &__json {
      align-self: center;
    }}}
@media screen and (max-width: 472px) {
  .about {
    &__desc {
      width: 90%;
    }
    &__json { 
      margin-top: -1.5rem;
      scale: .9;                    
    }}}