@use '@/styles/variables' as v;
@use '@/styles/mixins' as mix;

.articles-layout {
  & .page-title__sub {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03rem;
    color: v.$text-color;
  }
  &__content {
    margin-top: 4rem;
    & h2 {
      @include mix.title-2;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }
    & p {
      line-height: 1.2rem;
      letter-spacing: .02rem;
      margin: 1rem 0;
      & em {
        color: v.$tertiary-color;
        font-style: italic;
      }
      & strong {
        color: v.$tertiary-color;
        font-weight: 600;
      }
      & span.note {
        font-size: .9rem;
        font-style: italic;
      }
    }
    &__links {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      & a {
        position: relative;
        transition: .3s;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
          color: v.$tertiary-color;
          transition: .3s;
          &::before {
            content: '';
            animation: header-link-hover .15s ease-in;
            position: absolute;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background-color: v.$tertiary-color;
          }}}
    }}}
    

@keyframes header-link-hover {
  from  { width: 0%; }
  to    { width: 100%; }}

@media screen and (max-width: 580px) {
  .articles-layout__content {
    margin-top: 2rem;
    &__links {
      flex-direction: column;
      align-items: center;
      font-size: .9rem;
      color: v.$tertiary-color;
    }
    & p {
      font-size: .9rem;
      & span.note {
        font-size: .8rem;
      }
    }}}