@use '@/styles/variables' as v;

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  &__neon-container {
    display: flex;
    justify-content: center;
    & a {
      & svg {
        min-width: 240px;
        max-width: 60vw;
      }
      &::before {
        margin-top: 20px;
        content: 'clic!';
        position: absolute;
        font-size: 2rem;
        font-family: Allison;
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
      }
      &::after {
        margin-left: -90px;
        margin-top: 70px;
        content: 'clic on t\'a dit..!';
        position: absolute;
        font-size: 2rem;
        font-family: Allison;
        transform: rotate(-19deg);
        -webkit-transform: rotate(-19deg);
      }
    }}
  &__copyright {
    color: v.$primary-color;
    font-size: .8rem;
  }
  &__nav {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      &__links {
        display: flex;
        align-items: center;
        gap: 3rem;
      }
      & a svg {
          position: relative;
          fill: v.$primary-color;
          max-width: 2.5rem;
          transition: .3s;
          filter: drop-shadow(1px 7px 7px #000);
          -webkit-filter: drop-shadow(1px 7px 7px #000);
      }
      & a svg:hover {
          fill: v.$tertiary-color;
          transition: .3s;
      }}}

@media screen and (max-width: 385px) {
  .home__nav__links { gap: 3rem; 
    & a svg {
      -webkit-transform: scale(.7);
      transform: scale(.7);
    }}}
@media screen and (max-width: 520px) {
  .home__neon-container a {  
    &::before {
      font-size: 1.6rem;
    }
    &::after {
      font-size: 1.6rem;
      margin-top: 70px;
    }
  }}