@use '@/styles/variables' as v;
@use '@/styles/mixins' as mix;

.header {
  position: absolute;
  top: 0;
  background-color: v.$background-primary-color;
  width: 100%;
  z-index: 2;
  border-bottom: v.$primary-color 1px solid;
  box-shadow: 0px 0px 10px v.$boxshadow;
  -webkit-box-shadow: 0px 0px 10px v.$boxshadow;
  &__container {
    @include mix.container;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: v.$layout-height;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    & .link { display: none; }
    & .nav-menu svg { 
      cursor: pointer;
    }}
  &__title {
    display: flex;
    align-items: center;
    font-family: 'Allison', cursive;
    font-size: calc(v.$layout-height * 0.7);
    color: v.$secondary-color;
    user-select: none;
    & img {
      height: calc(v.$layout-height * 0.7);
    }
    & span {
      margin: 0 0 .15em .2em;
      transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
    }}
  & .lib__input-toggle {
    position: absolute;
    left: 1rem; bottom: -2rem;
  }
  }

.footer {
  @include mix.container;
  margin: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em;
  &__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  &__link {
    & svg {
      cursor: pointer;
      fill: v.$primary-color;
      width: 2rem;
      transition: .3s;
      filter: drop-shadow(1px 7px 7px #000);
      -webkit-filter: drop-shadow(1px 7px 7px #000);
    }
    & svg:hover {
      fill: v.$tertiary-color;
      transition: .3s;
    }}
  &__copyright {
    color: v.$primary-color;
    font-size: .8rem;
  }}


@media screen and (max-width: 390px) {
  .header__title {
    font-size: calc(v.$layout-height * 0.6);
  }}
    
@include mix.breakpoint('tablet') {
  .header {
    &__link {
      display: block;
    }
    & .lib__input-toggle {
      position: relative;
      left: 0; bottom: 0;
      display: block;
      margin-top: .3rem;
    }
    & .nav-menu {
      & svg {
        display: none;
      }}}}