@use '@/styles/variables' as v;

.modal-back {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #00000075;
}

.modal {
  box-shadow: 2px 2px 5px v.$boxshadow;
  background-color: v.$background-primary-color;
  border-radius: 5px;
  padding: .5rem .5rem 1rem 1rem;
  min-width: 150px;
  min-height: 150px;
  & .modal-head {
    display: flex;
    justify-content: flex-end;
    & svg {
      box-sizing: content-box;
      fill: v.$secondary-color;
      transition: .3s;
      border-radius: 7px;
    }
    & svg:hover {
      transition: .3s;
    border-radius: 15px;
      background-color:  v.$background-secondary-color;
    }}}