@use '@/styles/variables' as v;

.modal-back {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #00000075;
}

.modal {
  position: fixed;
  left: 0; right: 0;
  width: fit-content;
  margin: 10rem auto;
  z-index: 4;
  box-shadow: 2px 2px 5px v.$boxshadow;
  -webkit-box-shadow: 2px 2px 5px v.$boxshadow;
  background-color: v.$background-primary-color;
  border-radius: 5px;
  padding: 1rem;
  & .modal-head {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .6rem;
    & svg {
      box-sizing: content-box;
      fill: v.$secondary-color;
      transition: .3s;
      border-radius: 7px;
    }
    & svg:hover {
      transition: .3s;
    border-radius: 15px;
      background-color:  v.$background-secondary-color;
    }}}

@media screen and (max-width: 580px) {
  .modal {
    margin: -2.5rem auto;
    width: 95%;
  }
}